# WalletConnect Project ID (Obtain from cloud.walletconnect.com)
VITE_WALLETCONNECT_PROJECT_ID=c552e4b07a1b5fa8bc1ceb485aa5be82

# Deployed ArcQuest Master Smart Contract Address
VITE_ARC_QUEST_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000001
